mat-card {
  width: 70vw;
  height: 100%;
  margin: 1rem auto;
}

p {
  margin-block-end: 5px;
  margin-block-start: 5px;
  font-weight: normal;
  padding: 4px;
  font-size: 15px;
}

mat-form-field {
  align-content: center;
  width: 70%;
  padding: 1rem;
}

input {
  align-content: center;
  width: 100%;
  padding: 1rem;
}

agm-map {
  height: 100%;
  width: 100%;
}

.result {
  height: 60vh;
}