mat-card {
  width: 70vw;
  height: 100%;
  margin: 1rem auto;
}

mat-toolbar {
  background-color: #000045;
  color: white;
}

h1 {
  margin: auto;
}

p {
  margin-block-end: 4px;
  margin-block-start: 4px;
  font-weight: normal;
  padding: 4px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 14px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-form-field {
  align-content: center;
  width: 70%;
}

input {
  align-content: center;
  width: 100%;
  padding: 1rem;
}

agm-map {
  height: 100%;
  width: 100%;
}

.result {
  height: 60vh;
}
